@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lab Week 03 Controllers</h1>
    <h3>Tyler Burleson</h3>
    <p>Computing</p>
    <p>Information Technology</p>
</div>
