@{

    int myInt = 9;
    double myDouble = 9.67;
    bool myBool = true;
    sbyte mySbyte = 17;
}
<h1>Experiment 1</h1>
<p>Integer: @myInt <br />Double: @myDouble    <br />Boolean: @myBool    <br />Sbyte: @mySbyte</p>