
@{
    ViewData["Title"] = "InputAgeForm";
}

<h1>InputAgeForm</h1>

<form action="FormProcessor" method="post">
    <label>Enter age:</label>
    <input name="age" />
    <input type="submit" value="Save" />
</form>

